= provide(:title, t('views.devise.registrations.edit'))
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field.pt-3
    = f.label :name, class:'control-label'
    %br/
    = f.text_field :name, autofocus: true, class: 'form-control'
  .field.pt-3
    = f.label :email, class:'control-label'
    %br/
    = f.text_field :email, class: 'form-control'
  .field.pt-3
    = f.label :password, class:'control-label'
    %i= t('views.devise.info.not_change')
    %br/
    = f.password_field :password, class: 'form-control'
  .field.pt-3
    = f.label :password_confirmation, class:'control-label'
    %br/
    = f.password_field :password_confirmation, class: 'form-control'
  .field.pt-3
    = f.label :current_password, class:'control-label'
    %i= t('views.devise.info.confirmation')
    %br/
    = f.password_field :current_password, class: 'form-control'
  .field.pt-3
    = f.label :profile, class:'control-label'
    %br/
    = f.text_field :profile, class: 'form-control'
  .field.pt-3
    = f.label :blog_url, class:'control-label'
    %br/
    = f.text_field :blog_url, class: 'form-control'
  .actions.pt-3
    = f.submit t('views.buttons.update'), class: 'btn btn-primary' 
    %br/
= link_to t('views.buttons.back'), :back
