%h1
  = t('views.user.show')
%h4
  = t('activerecord.attributes.user.name')
  ：
  = @user.name
  %br
  - if @user.profile
    = t('activerecord.attributes.user.profile')
    ：
    = @user.profile
    %br
  - if @user.blog_url
    = t('activerecord.attributes.user.blog_url')
    ：
    = @user.blog_url
  %br
= link_to t('views.buttons.back'), :back
