%h1 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.pt-3
    = f.label :name, 'ユーザー名', class:'control-label'
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
  .field.pt-3
    = f.label :password, 'パスワード', class:'control-label'
    %br/
    = f.password_field :password, autocomplete: "password", class: 'form-control'
  - if devise_mapping.rememberable?
    .field.pt-3
      = f.check_box :remember_me
      = f.label :remember_me
  .actions.pt-3
    = f.submit "ログイン", class: 'btn btn-primary' 
= render "devise/shared/links"
