%h1
  = t('views.devise.registrations.login')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.pt-3
    = f.label :name, class:'control-label'
    %br/
    = f.text_field :name, autofocus: true, class: 'form-control'
  .field.pt-3
    = f.label :password, class:'control-label'
    %br/
    = f.password_field :password, class: 'form-control'
  .actions.pt-3
    = f.submit t('views.buttons.login'), class: 'btn btn-primary' 
= render "devise/shared/links"
