!!!
%html
  %head
    %title
      = yield(:title)
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

  %body
    = render 'layouts/header'
    .container
      = render 'layouts/notifications'
      %h1 
        = yield(:title)
      = yield
